.dropdown{
    position: relative;
    font-size: 16px;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100%+2rem);
    background-color: white;
    padding: .75rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out ,transform 150ms ease-in-out;
}

.dropdown-menu > li{
   list-style: none;
}

.dropdown .link{
   border: 0;
   outline: 0;
   background-color: white;
   font-size: 2rem;
}


.dropdown.active > .link:focus + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}